In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set_theme(style="whitegrid")

In [3]:
mySeq = pd.read_csv('../data/H3K36me3.intersect_with_mouseZ.mm10.bed', sep='\t', comment='t', header=None)
mergeSeq = pd.read_csv('../data/H3K36me3.merge.mm10.bed', sep='\t', comment='t', header=None)
mmSeq = pd.read_csv('../data/mouseZ.bed', sep='\t', comment='t', header=None)

In [12]:
mySeq["center"] = np.floor((mySeq[2] + mySeq[1])/2).astype("int64")
mySeq["range_start"] = mySeq["center"] - 500
mySeq["range_end"] = mySeq["center"] + 500
mySeq.head()

      0         1         2    center  range_start  range_end
0  chr1  43778741  43778780  43778760     43778260   43779260
1  chr2   5009728   5009788   5009758      5009258    5010258
2  chr2   5010128   5010134   5010131      5009631    5010631
3  chr2   5922429   5922635   5922532      5922032    5923032
4  chr2  27019570  27019628  27019599     27019099   27020099

In [14]:
mySeq[[0, "range_start", "range_end"]].to_csv('../data/network.positive.bed', sep ='\t', header=None, index=None)