In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
sns.set_theme(style="whitegrid")

In [17]:
mySeq = pd.read_csv('../data/H3K36me3.intersect_with_mouseZ.mm10.bed', sep='\t', comment='t', header=None)
mergeSeq = pd.read_csv('../data/network.nonnegative.bed', sep='\t', comment='t', header=None)

In [12]:
mySeq["center"] = np.floor((mySeq[2] + mySeq[1])/2).astype("int64")
mySeq["range_start"] = mySeq["center"] - 500
mySeq["range_end"] = mySeq["center"] + 500
mySeq.head()

      0         1         2    center  range_start  range_end
0  chr1  43778741  43778780  43778760     43778260   43779260
1  chr2   5009728   5009788   5009758      5009258    5010258
2  chr2   5010128   5010134   5010131      5009631    5010631
3  chr2   5922429   5922635   5922532      5922032    5923032
4  chr2  27019570  27019628  27019599     27019099   27020099

In [14]:
mySeq[[0, "range_start", "range_end"]].to_csv('../data/network.positive.bed', sep ='\t', header=None, index=None)

In [21]:
mergeSeq

           0         1         2
0       chr1   3670918   3671737
1       chr1   4491828   4492227
2       chr1   4559741   4560197
3       chr1   4770333   4770721
4       chr1   4770815   4772420
...      ...       ...       ...
116697  chrY  90793237  90793874
116698  chrY  90811288  90813869
116699  chrY  90819521  90819848
116700  chrY  90824558  90824842
116701  chrY  90826964  90827525

[116702 rows x 3 columns]

In [45]:
from random import shuffle, random
from math import floor

In [48]:
ranges = []
neg_len = 1000
for i in range(mergeSeq.shape[0] - 1):
    chrN = mergeSeq.iloc[i][0]
    if (chrN != mergeSeq.iloc[i + 1][0]):
        continue
    usable_range = [mergeSeq.iloc[i][1], mergeSeq.iloc[i + 1][2]]
    
    if usable_range[1] - usable_range[0] > neg_len:
        padding = floor(random() * (usable_range[1] - neg_len - usable_range[0]))
        start = usable_range[0] + padding
        end = start + neg_len
        ranges.append([chrN, start, end])
    """
    while usable_range[1] - usable_range[0] >= neg_len:
        usable_range[0] -= neg_len
        start = usable_range[0]
        end = start + neg_len
        ranges.append([chrN, start, end])
    """

In [51]:
shuffle(ranges)

In [61]:
neg_amount = mySeq.shape[0]*3
pd.DataFrame(ranges[neg_amount:]).to_csv('../data/network.negative.bed', sep ='\t', header=None, index=None)

In [62]:
pd.DataFrame(ranges[neg_amount:])

            0          1          2
0       chr17   46735551   46736551
1        chr8   78670535   78671535
2       chr17   25009056   25010056
3        chr4   48235134   48236134
4        chr5   21650402   21651402
...       ...        ...        ...
111160   chr9  107800511  107801511
111161   chr2   70016728   70017728
111162   chr5   34427523   34428523
111163   chr7   90184343   90185343
111164   chr5   76192061   76193061

[111165 rows x 3 columns]